
@{
    ViewBag.Title = "Add";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}


<h2 style="color:blue">Kategori Ekleme Ekranı</h2>

<br />

<form method="post">


    <div>
        <label>Kategori</label>
        <input type="text" class="form-control" name="Name"/>
    </div>




    <br />


    <button class="btn btn-primary">Ekle</button>



</form>

