
@{
    ViewBag.Title = "NewMessage";
    Layout = "~/Views/Shared/_LayoutPanel.cshtml";
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <style>
        body {
            font-family: Arial, Helvetica, sans-serif;
        }

        * {
            box-sizing: border-box;
        }

        input[type=text], select, textarea {
            width: 100%;
            padding: 12px;
            border: 1px solid #ccc;
            border-radius: 4px;
            box-sizing: border-box;
            margin-top: 6px;
            margin-bottom: 16px;
            resize: vertical;
        }

        input[type=submit] {
            background-color: #04AA6D;
            color: white;
            padding: 12px 20px;
            border: none;
            border-radius: 4px;
            cursor: pointer;
        }

            input[type=submit]:hover {
                background-color: #45a049;
            }

        .container {
            border-radius: 5px;
            background-color: #f2f2f2;
            padding: 20px;
        }
    </style>
</head>
<body>
    <br />
    <h3>Mesaj Gönderme Paneli</h3>

    <div class="container">
        <form method="post">
            <label for="fname">Ad</label>
            <input type="text" id="fname" name="Sender" value="@Session["Mail"].ToString()" readonly="readonly" placeholder="Mailiniz..">

            <label for="lname">Soyad</label>
            <input type="text" id="lname" name="Buyer" placeholder="Alıcının maili..">

            <label for="lname">Konu</label>
            <input type="text" id="lname" name="Subject" placeholder="Konu Başlığı..">


            <label for="subject">İçerik</label>
            <textarea id="subject" name="Content" placeholder="Mesajınızı Buraya yazın.." style="height:200px"></textarea>

            <label for="lname">Tarih</label>
            <input type="text" id="lname" value="@DateTime.Now.ToShortDateString()" name="Date" placeholder="Konu Başlığı..">

            <button class="btn btn-info">Mesaj Gönder</button>
        </form>
    </div>

</body>
</html>


