
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<br />
<div style="margin-left:-20px">
    <a class="weatherwidget-io" href="https://forecast7.com/tr/41d0128d98/istanbul/" data-label_1="İSTANBUL" data-label_2="Hava Durumu" data-theme="original">İSTANBUL Hava Durumu</a>
    <script>
        !function (d, s, id) { var js, fjs = d.getElementsByTagName(s)[0]; if (!d.getElementById(id)) { js = d.createElement(s); js.id = id; js.src = 'https://weatherwidget.io/js/widget.min.js'; fjs.parentNode.insertBefore(js, fjs); } }(document, 'script', 'weatherwidget-io-js');
    </script>
</div>

<br />

<div style="margin-left:-20px">
    <a class="weatherwidget-io" href="https://forecast7.com/tr/51d51n0d13/london/" data-label_1="LONDON" data-label_2="Hava Durumu" data-theme="original">LONDON Hava Durumu</a>
    <script>
        !function (d, s, id) { var js, fjs = d.getElementsByTagName(s)[0]; if (!d.getElementById(id)) { js = d.createElement(s); js.id = id; js.src = 'https://weatherwidget.io/js/widget.min.js'; fjs.parentNode.insertBefore(js, fjs); } }(document, 'script', 'weatherwidget-io-js');
    </script>
</div>
<br />
<div style="margin-left:-20px">
    <a class="weatherwidget-io" href="https://forecast7.com/tr/35d69139d69/tokyo/" data-label_1="TOKYO" data-label_2="Hava Durumu" data-theme="original">TOKYO Hava Durumu</a>
    <script>
        !function (d, s, id) { var js, fjs = d.getElementsByTagName(s)[0]; if (!d.getElementById(id)) { js = d.createElement(s); js.id = id; js.src = 'https://weatherwidget.io/js/widget.min.js'; fjs.parentNode.insertBefore(js, fjs); } }(document, 'script', 'weatherwidget-io-js');
    </script>
</div>
<br />
<div style="margin-left:-20px">
    <a class="weatherwidget-io" href="https://forecast7.com/tr/25d76n80d19/miami/" data-label_1="MIAMI" data-label_2="Hava Durumu" data-theme="original">MIAMI Hava Durumu</a>
    <script>
        !function (d, s, id) { var js, fjs = d.getElementsByTagName(s)[0]; if (!d.getElementById(id)) { js = d.createElement(s); js.id = id; js.src = 'https://weatherwidget.io/js/widget.min.js'; fjs.parentNode.insertBefore(js, fjs); } }(document, 'script', 'weatherwidget-io-js');
    </script>
</div>
<br />
<div style="margin-left:-20px">
    <a class="weatherwidget-io" href="https://forecast7.com/tr/n30d5622d94/south-africa/" data-label_1="SOUTH AFRICA" data-label_2="Hava Durumu" data-theme="original">SOUTH AFRICA Hava Durumu</a>
    <script>
        !function (d, s, id) { var js, fjs = d.getElementsByTagName(s)[0]; if (!d.getElementById(id)) { js = d.createElement(s); js.id = id; js.src = 'https://weatherwidget.io/js/widget.min.js'; fjs.parentNode.insertBefore(js, fjs); } }(document, 'script', 'weatherwidget-io-js');
    </script>
    </div>
